<div class="side-header">
  <div class="side-left-content">
    <%= link_to current_user.name, edit_user_path(current_user.id) %>
  </div>
  <div class="side-right-content">
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class="side-main">
  <div class="chat-lists">
    <% current_user.rooms.each do |room| %>
      <div class="chat-list">
        <%= link_to room.name, room_messages_path(room) %>
      </div>
    <% end %>
  </div>
</div>