/*全体設定*/
.wrapper{
  display: flex;
}


/*サイドバー設定*/
.side-bar{
  width: 300px;
  background-color: #253141;
}
/*（サイド）ヘッダー*/
.side-header{
  height: 100px;
  background-color: #253141;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.side-left-content a{
  text-decoration: none;
  color: #fafafa;
  font-size: 16px;
}
.side-right-content{
  font-size: 10px;
}
.side-right-content a{
  text-decoration: none;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
}

/*（サイド）メイン画面*/
.side-main{
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.chat-lists{
  padding-top: 20px;
}
.chat-list{
  padding-bottom: 40px;
  /*border: 1px solid white;*/
}
.chat-list a{
  text-decoration: none;
  color: white;
}


/*メイン画面設定*/
.main-chat{
  background-color: #ffffff;
  width: calc(100vw - 300px);
}
/*（メイン）ヘッダー*/
.header{
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}
/*（メイン）メイン*/
.main{
  height: calc(100vh - 190px);
  background-color: #fafafa;
  padding: 46px 40px 0px;
}
/*（メイン）フォーム*/
.form{
  height: 90px;
  background-color: #dddddd;
  padding: 20px 40px;
}